# Environment Secrets
.env
.env.local
.env.*.local

# Dependencies
node_modules/
bun.lockb
bun.lock

# Build Output
dist/
dist-ssr/
*.local

# Editor & System
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
